---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const {
  title,
  footerHeading,
  footerSubHeading,
  FooterButtonVisibility = true,
  FooterButtonText = "Kostenloses Beratungsgespräch anfragen",
  FooterButtonLink = "/kontakt",
} = Astro.props;

import Favicon from "../assets/images/favicon.webp";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="LAUENROTH | Gute Ziele inspirieren –
    Individuelle Lösungen für erfolgreiche Unternehmenskultur"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href={Favicon.src} type="image/x-icon" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer
      footerHeading={footerHeading}
      footerSubHeading={footerSubHeading}
      FooterButtonVisibility={FooterButtonVisibility}
      FooterButtonText={FooterButtonText}
      FooterButtonLink={FooterButtonLink}
    />
  </body>
</html>

<style lang="scss" is:global>
  @use "../abstractStyles/" as *;

  html {
    @include for-desktop-only {
      --space-30: 30px;
      --space-40: 40px;
      --space-60: 60px;
      --space-80: 80px;
      --space-100: 100px;
    }

    @include for-tablet-only {
      --space-30: 20px;
      --space-40: 27px;
      --space-60: 40px;
      --space-80: 54px;
      --space-100: 67px;
    }

    @include for-phone-only {
      --space-30: 15px;
      --space-40: 20px;
      --space-60: 30px;
      --space-80: 40px;
      --space-100: 50px;
    }
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    overflow-x: hidden;
  }

  img {
    max-width: 100%;
  }
</style>
